// SASS Variables
$sea-green: #00E2AC;
$sky-blue: #00CFFF;

/* ENTIRE PAGE */
.hero {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
  justify-content: center;
  min-height: 800px;
  padding-bottom: 50px;
  text-align: center;
  &.landscape {
    color: white;
  }
  &.bridge {
    background: url(../img/bridge/full-width.jpg);
    background-size: cover;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

/* SIDEBAR */
.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 0px;
  height: 100%;
  padding-top: 10px;
  font: "Roboto", serif;
  color: white;
  background: black;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease;
  &.open {
    width: 320px !important;
  }
  .sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  h2 {
    font: 40px "Roboto", sans-serif;
    line-height: 40px;
    margin: 4px;
    padding: 0px;
  }
  a {
    color: white;
    font: 24px "Roboto", sans-serif;
    margin-left: 10px;
    margin-top: 5px;
  }
}

#hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 34px;
  width: 40px;
  left: 30px;
  top: 20px;
  border-radius: 4px;
  background: black;
  z-index: 1;
  &:hover {
    background: $sky-blue;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

#close-btn {
  margin-left: 30px;
  margin-top: 10px;
  align-self: flex-start;
  color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

/* INTRO SECTION */
#intro {
  background: url("../img/weather/hero-clear-night.jpg");
  background-size: cover;
  h1,
  h5 {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  }
  h1 {
    font-size: 72px;
    line-height: 55px;
  }
  h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.cta {
  background: black;
  border: 0px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 50px;
  padding: 0px;
  width: 180px;
  &:hover {
    background: $sky-blue;
  }
}

/* ABOUT SECTION */
#about {
  min-height: 0;
  .left-col {
    color: $sea-green;
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    h2 {
      font-size: 60px;
      font-weight: 700;
      line-height: 55px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .right-col {
    padding: 20px;
    text-align: left;
    h5 {
      font-size: 24px;
      line-height: 30px;
    }
  }
}

/* GALLERY SECTION */
#gallery {
  background: #EEFDF9;
  .container {
    margin: 0;
    padding: 0;
  }
  .col-md-4 {
    overflow: hidden;
    padding: 0 5px 10px 5px;
    img {
      height: 100%;
      max-width: 390px;
      max-height: 280px;
    }
  }
}

/* CONTACT SECTION */
#contact {
  text-align: center;
  p {
    font-size: 24px;
    margin-bottom: 40px;
    max-width: 740px;
    text-align: center;
  }
}

#social {
  padding: 20px;
  a {
    margin: 0px 10px;
    text-decoration: none;
  }
  img {
    height: 20px;
    &:hover {
      opacity: 0.5;
    }
  }
}

/* FOOTER */
#footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 150px;
  width: 100%;
  .footer-item {
    flex: 1;
    max-width: 100px;
  }
  a {
    color: black;
    font-size: 16px;
    line-height: 40px;
    margin-right: 20px;
    margin-left: 5px;
    padding: 0px;
  }
}

#copyright {
  color: $sea-green;
  margin-left: auto;
  text-align: right;
  span {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 480px) {
  #intro {
    min-height: 640px;
  }
  #about .left-col {
    font-size: 42px;
    line-height: 40px;
  }
  #footer {
    padding-right: 20px;
    padding-left: 20px;
    h4 {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .row {
    width: 100%;
  }
  .col-md-4 {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      max-width: 992px;
      max-height: 900px;
    }
  }
}
