
/* ENTIRE PAGE */
.hero {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
  justify-content: center;
  min-height: 800px;
  padding-bottom: 50px;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.hero.landscape {
  color: white;
}

/* INTRO SECTION */
#intro h1,
#intro h5 {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

#intro h1 {
  font-size: 72px;
  line-height: 55px;
}

#intro h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.cta {
  background: black;
  border: 0px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 50px;
  padding: 0px;
  width: 180px;
}

.cta:hover {
  background: #00CFFF;
}

/* ABOUT SECTION */
#about {
  min-height: 0;
}

#about .left-col {
  color: #00CFFF;
  padding: 20px;
  text-align: right;
  text-transform: uppercase;
}

#about .right-col {
  padding: 20px;
  text-align: left;
}

#about .left-col h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#about .right-col h5 {
  font-size: 24px;
  line-height: 30px;
}

/* GALLERY SECTION */
#gallery {
  background: #EEFDF9;
}

#gallery .container {
  margin: 0;
  padding: 0;
}

#gallery .col-md-4 {
  overflow: hidden;
  padding: 0px 5px 10px 5px;
}

#gallery .col-md-4 img {
  height: 100%;
  max-width: 390px;
  max-height: 380px;
}

/* BRIDGE SECTION */
.bridge {
  background: url(../img/bridge/full-width.jpg);
  background-size: cover;
}
